@charset "utf-8";
/* CSS Document */

*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #f9d1e4;
}
header{
    width: auto;
    height:80px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #3f4a79;
    padding: 20px 20px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parrafo{
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0px;
    color: #3f4a79;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 10px;
    display:flex;
}
/no pude resolver cómo subir la imagen para que me quede a la derecha de la info del cv, en un apartado/
main{
    display: flex;
    margin:0px;
    padding: 0px;
}
section ul{
    display: flex;
    width: 1280px;
    height: 80px;
    padding: 0px;
    justify-content: space-between;
    align-items:last normal;
    color:#3f4a79;
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0px;
}
.fotografia { 
    display: flex;
    flex-direction: row-reverse;
    justify-content: first baseline;
    align-content: first baseline;
}
ul li{
    display:flex;
    width: auto;
    height: 20px;
    font-size: smaller;
    padding: 0px;
}